<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="#">Movie Site</a>
        <div class="search-container">
            <form id="form" role="search">
                <input type="search" placeholder="Search.." id="query" name="query-form">
            </form>
        </div>
    </div>
   <section class="section"> 
    {{!-- <div class="row">
        <div class="column">
            <div class="card">
                <center>
                    <img src="#" alt="" class="thumbnail">
                   
                </center>
                 <h3>Movie Tilte</h3>
            </div>
        </div>
    </div> --}}
    </section>
</body>
<script>src="script.js"</script>
</html>